* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  display: block;
  width: 100%;
}

/* -------------------------------------- HEADER (navbar) - START */

.header-img {
  width: 200px;
  padding: 22px 0px 22px 22px;
  animation: fadeIn 5s;
}

.navbar {
  position: fixed;
  top: 0%;
  right: 0%;
  left: 0%;
  background-color: transparent;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.748), transparent);
  z-index: 99999;
}

.header-contact-section {
  display: block;
  float: right;
  border-left: 1px solid white;
  margin: 20px 0px 0px 0px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fadeIn 5s;
}

.header-phone-number,
.header-email {
  padding: 3px 0px;
}

.header-phone-number,
.header-email,
.nav-item,
.btn,
.burger-menu-item>a {
  text-decoration: none;
  color: #fff;
}

.burger-menu-img {
  display: none;
}

#burger-menu-list {
  display: none;
  background-color: rgba(186, 180, 180, 0.595);
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.burger-menu-item {
  padding: 20px 20px 20px 35px;
  margin: 0;
}

.burger-menu-item:hover {
  background-color: #464d5697;
}

.nav-box {
  position: relative;
  float: right;
  display: block;
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav-item {
  padding: 20px 10px;
  font-weight: bold;
  color: #fff;
  margin: 15px 10px;
  animation: fadeIn 5s;
}

.nav-item:hover {
  background-color: rgba(134, 142, 147, 0.796);
  border-radius: 10px;
}

a {
  color: #fff;

}

li {
  list-style: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

img {
  object-fit: cover;
}

/* -------------------------------------- HEADER (navbar) - END */

/* -------------------------------------- SLIDER IMAGES - START */

.slider-images {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url('../images/beach-img.jpeg');
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.353);
  background-position: center center;
  background-size: cover;
}

/* -------------------------------------- SLIDER IMAGES - END */

/* -------------------------------------- SECTION - GRID CONTAINER- START */

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
}

.grid-item {
  position: relative;
  display: block;
  width: 100%;
  height: 400px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.four-images-css {
  /* This will set the initial position of the image to be centered both horizontally and vertically, placing the image in the center of my a tag. */
  background-position: center center;
  /* This property will tell the browser to scale the image to cover my entire a tag and still maintain the aspect ratio (however, this will mean some part of the image will be cropped depending on the size of the users screen). */
  background-size: cover;
}

.grid-item-texts {
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0;
  color: #fff;
  padding: 15px 15px 25px 15px;
  box-sizing: border-box;
}

.grid-item-title {
  /* The "Y" means vertical direction. The transform property is moving the element 100% of its own height downwards, moving the element out of the visible area and not visible in its original position. The following is equivalent to this: transform: translate(0%, 100%); */
  transform: translateY(100%);
  /* This describes the transition effect that will happen to the change in the 'transform' property above. 'transform' is the property being transitioned. The transition will take 0.8 seconds to complete. 'ease-in-out' creates a smooth, gradual start and end to the transition. it's the timing function which will make the transition start slowly, speed up, then slow down again. The following can also be written as:
  
  transition-property: transform;
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
  
  */
  transition: transform 0.8s ease-in-out;
  margin: 0;
  font-size: x-large;
}

.grid-item .grid-item-description {
  opacity: 0;
  visibility: hidden;
  text-align: center;
  margin: 10px 0px;
  transform: translateY(100%);
  transition: transform 0.8s ease-in-out;
}

.grid-item:hover .grid-item-description,
.grid-item:hover .grid-item-title {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.img-1 {
  background-image: url('../images/cruise-image.jpg');
}

.img-2 {
  background-image: url('../images/ballons-image.jpg');
}

.img-3 {
  background-image: url('../images/hiking-image.jpg');
}

.img-4 {
  background-image: url('../images/garden-image.jpg');
}

/* -------------------------------------- SECTION - GRID CONTAINER- END */

/* -------------------------------------- SECTION - LOCATION SUGGESTION - START  */

.location-suggestion {
  background-color: #194381;
  padding: 80px 40px;
}

.location-suggestion-content {
  max-width: 960px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  color: #fff;
}

.location-suggestion-content>img {
  width: 45%;
  border-radius: 5px;
}

.location-suggestion-text {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
}

.btn {
  padding: 10px 10px;
  background-color: #106b98;
  font-weight: bold;
  border-radius: 5px;
  max-width: 180px;
  text-align: center;
}

.btn:hover {
  background-color: rgba(239, 61, 61, 0.779);
}

/* -------------------------------------- SECTION - LOCATION SUGGESTION - END  */

/* -------------------------------------- SECTION - CUSTOMER FEEDBACK - START  */

.customer-feedback {
  color: #194381;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: 400;
  padding: 30px 0px;
}

blockquote {
  font-style: italic;
  max-width: 960px;
  text-align: center;
  line-height: 40px;
}

cite {
  font-weight: bolder;
}

@keyframes pulse {
  from {
    transform: scale(0.98);
  }

  to {
    transform: scale(1.4);
  }
}

.pulse {
  animation: pulse 1s infinite ease-in-out alternate;
  margin: 0px 20px;
}

/* -------------------------------------- SECTION - CUSTOMER FEEDBACK - END  */

/* -------------------------------------- SECTION - CONTACT - START  */

.contact {
  background-color: #194381;
  padding: 70px 0px;
  color: #fff;
}

.contact-container {
  max-width: 900px;
  text-align: center;
  margin: 0px auto;
  padding: 0px 30px 20px 30px;
  font-size: 18px;
}

.contact-container>p {
  line-height: 30px;
  padding-bottom: 20px;
}

.contact-container>p>span {
  font-size: x-large;
  font-style: italic;
}

/* -------------------------------------- SECTION - CONTACT - END  */

/* -------------------------------------- FOOTER - START */

footer {
  background-color: #67c2e4;
  padding: 15px;
  text-align: center;
  color: #000000;
  font-size: 14px;
}

.footer-company-logo-img {
  width: 100px;
}

.footer-divider {
  color: rgb(96, 139, 125);
  padding: 0px 10px;
}

footer>p {
  margin: 0px;
  margin-bottom: 8px;
}

footer a {
  color: #000000;
}

footer a:hover {
  color: blue;
}

.footer-social-icons {
  padding: 25px 5px 10px 5px;
}

/* -------------------------------------- FOOTER - END */

/* -------------------------------------- MEDIA QUERIES - START */

@media only screen and (max-width: 370px) {
  #quote {
    font-size: smaller;
  }

  .header-img {
    width: 160px;
  }

  /* .contact-container,
  .btn {
    font-size: 11px;
  } */

  #blue-btn {
    font-size: 12px;
  }
}

@media only screen and (max-width: 575px) {
  .customer-feedback {
    font-size: medium;
    padding: 15px 0px;
  }

  blockquote {
    line-height: 25px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .quotation-marks {
    width: 10%;
  }

  .contact-container {
    font-size: medium;
  }

  #contact-container-number {
    font-size: medium;
  }
}

@media only screen and (max-width: 605px) {
  .header-contact-section {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
  }

  /* Ensure grid-container description is visible at all times when screen width is below 768px because it's likely a hover option isn't available to the user e.g. phone */
  .grid-item .grid-item-description {
    opacity: 1;
    visibility: visible;
    margin-bottom: 25px;
    margin-top: 5px;
    font-size: smaller;
  }

  .grid-item {
    width: 100%;
    height: 320px;
  }

  .grid-item-title {
    font-size: large;
  }

  .location-suggestion {
    padding: 40px 40px;
  }

  .location-suggestion-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin: 0px auto;
  }

  .location-suggestion-text>p {
    margin-top: 0px;
  }

  .location-suggestion-text {
    max-width: 550px;
    margin: 0px;
    padding: 0px;
  }

  #location-suggestion-img {
    width: 100%;
    height: 200px;
  }
}

@media only screen and (max-width: 1096px) {
  .nav-box {
    display: none;
  }

  .burger-menu-img {
    display: block;
    float: right;
    margin: 20px;
    padding: 15px;
  }

  .burger-menu-img:hover {
    color: black;
  }
}

/* -------------------------------------- MEDIA QUERIES - END */